icharset "utf-8";

.gstyle{
    border: 1px solid #545454;
    width: 100px;
    height: 70px;
    float: left;
    margin: 1px 1px 1px 1px;
    border-radius: 8px 8px;
    position:relative ;
    
    
    
    
}
.gstyle img{width: 90px;
    height: 63px;
    border-radius: 8px 8px 0px 0px;
            margin:1px 1px 1px 1px;
    transition: all 2s;
    float:left;
    podition:relative;
    width:100px
}
.gstyle img:hover{
    
    width: 100px;
    border-radius: 1px 1px 1px 1px;
    Opacity:0.5;
          margin:1px 1px 1px 1px;
    position:relative;
}
.gstyle:hover{
    border: 1px solid #AA0830;
    border-radius: 25px;
    
.banstyle{
border: 1px solid #545454;
    width: 100px;
    height: 70px;
    float: left;
    margin: 1px;
    border-radius: 8px 8px;

    




}
 
}
.banstyle img{width: 90px;
    height: 63px;
    border-radius: 8px 8px 0px 0px;
    transition: all 2s;
    float:left;
    witdth:100px    
                    margin:1px 1px 1px 1px;
}
.banstyle img:hover{
    width: 100px;
    border-radius: 1px 1px 1px 1px;
    Opacity:0.5;
    
          margin:1px 1px 1px 1px;
    
}
.banstyle:hover{
    border: 1px solid #AA0830;
    border-radius: 25px;
    
    
    
    
}
.pstyle{
    text-align: center;
    
    
    
}

    
    
    
}
/*responsive*/
@media screen and (min-with: 768px)
{.banstyle img{
width:50%;
}
@media screen and (min-with: 992px)

{Width:25%;}    
/*responsive*/
@media screen and (min-with: 768px)
{.gstyle img{
width:50%;
}
@media screen and (min-with: 992px)

{Width:25%;}




 

